.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding:  0%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    height: 100%;
}

.thumbnail .caption-full{
	padding: 9px;
}