<%include partials/header %>
<div class="container">
	<h1 style="margin-top: 40px;"> Landing page/Home </h1>
	<p> Welcome camper</p>
	<a href="/campgrounds"> View all campgrounds </a>
</div>

<%include partials/footer %>

