<%include ./partials/header %>

<h1 style="margin-top: 50px">Login</h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Login</button>
</form>

<%include ./partials/footer %>
